@font-face {
    font-family: "eng";
    src:url('font/applegothic-bold.ttf') format('truetype');
    src:url('font/applegothic-light.ttf') format('truetype');
    src:url('font/applegothic-medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body{
    font-family: eng;
    margin:0;
    background-color:#1f1f1f;
}

.header{
    margin-top:5%;
    display:block;
    width:100%;
}

#header{
    margin-left:45%;
    width:10%;
}

.header .stroke{
    border-bottom: 2px solid #4AFFE0;
    width:44%;
    margin-left:28%;
}

.header .intro{
    font-style:italic;
    color:#4AFFE0;
    margin-top:5px;
    text-align:center;
}


.content{
    margin-top:10%;
    color:#4AFFE0;
    text-align:center;
}

.fora{
    margin-top:3%;
    margin-left:48.5%;
}

a{
    font-family: eng;
    font-size:17px;
    font-weight:bold;
    text-align:center;
    width:18%;
}

.title{
    color:white;
    margin-top: 5%;
    text-align:center;
    font-size: 17px;
    font-family: eng;
    font-weight: bold;
}

.semi-title{
    color: #9f9f9f;;
    text-align:center;
    font-size: 17px;
    font-family: eng;
    font-weight: medium;
}

a:link {
    color:white;
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color:#4AFFE0;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color:white;
    background-color: transparent;
    text-decoration: underline;
}

#yaho{
    margin:0.5%;
}

.middle_stroke{
    border-bottom: 2px solid #4AFFE0;
    width:70%;
    margin-left:15%;
    margin-top:3%;
}

.content {
    color:#4AFFE0;
    font-size:20px;
    margin-top:-0.2%;
    margin-bottom:5%;
}

/*분류 제목 글씨 css*/
.hard-to-naming{
    margin-top:3%;
    text-align:center;
    font-size:16px;
    border: 1px solid #3f3f3f;
    border-radius: 10px;
    background-color:#3f3f3f;
    margin-left:19%;
    margin-bottom:1%;
    padding : 1%;
    width:60%;
    color:white;
}